# your GeoNames username goes here
GEONAMES_USERNAME=

# geonames url like http://api.geonames.org/searchJSON
GEONAMES_BASE_URL=

# cache time to live in milliseconds, default is 60 minutes
CACHE_TTL_MS=